<div class="media">
    <div class="media__image">
        <span class="icon-container">
            <svg class="icon icon--primary">
                <use xlink:href="images/sprite.svg#snap"></use>
            </svg>
        </span>
    </div>
    <div class="media__body">
        <h3 class="media__title">Easy Start & Manageed Updates</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id rem labore repellat illo temporibus,
            praesentium necessitatibus quaerat delectus porro fuga nesciunt molestiae natus, quod perferendis veniam
            ratione ab ducimus qui?</p>
    </div>
</div>