<blockquote class="quote">
    <p class="quote__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, laborum omnis perferendis
        exercitationem
        cumque vero ipsa placeat. Molestiae, delectus numquam.</p>
    <footer>
        <div class="media">
            <div class="media__image">
                <span class="icon-container">
                    <svg class="icon icon--primary quote__line">
                        <use xlink:href="images/sprite.svg#line"></use>
                    </svg>
                </span>
            </div>
            <div class="media__body">
                <h3 class="media__title qoute__author">John Sinha</h3>
                <p class="quote__company">Infoware India</p>
            </div>
        </div>
    </footer>
</blockquote>